@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    @apply h-full text-black font-medium;
}
